# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.application

#Otros que no deben de subir
*.cache
*.Cache
*.suo
*.manifest
*.vhost
*.v12.suo
