# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.application

#Otros que no deben de subir
*.cache
*.Cache
*.suo
*.manifest
*.vhost
*.v12.suo
Acuanet/Acuanet.v12.suo
*.suo
*.cache
Acuanet/Acuanet/obj/Debug/Acuanet.csproj.FileListAbsolute.txt
Acuanet/Acuanet.v12.suo
*.pdb
Acuanet/Acuanet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Acuanet/Acuanet/obj/Debug/DesignTimeResolveAssemblyReferences.cache
